body {
    background-color: rgb(74, 43, 82);
}

    #background {
        height: 725px;
        background-color: burlywood;
    }

    #map {
        text-align: center;
        background-color: rgba(213, 219, 45, 0.628);
        height: 40px;
        font-size: 1.5em;
    }

    #hero-img {
        width: 100%;
    }

    .home-title {
        text-align: center;
        color: chartreuse;
        font-size: 2.5em;
    }

    .button-box, .join {
        text-align: center;
        background-color: rgba(17, 67, 85, 0.66);
        width: 200px;
        margin: auto;
        font-size: 1.5em;
    }

    .river-card, .camping-card, .rapids-card {
        text-align: center;
        color: rgb(221, 200, 66);
        font-size: 1.5em;
    }

    .icon {
        width: 80px;
    }

    .mountain {
        width: 50%;
    }

    .msg {
        text-align: center;
        background-color: rgba(0, 143, 185, 0.806);
        color: rgb(58, 19, 75);
        font-size: 2em;
    }

    footer {
        background-color: rgba(40, 108, 185, 0.331);
        color: rgb(221, 200, 66);
        font-size: 2em;
    }