@import url('https://fonts.googleapis.com/css2?family=Autour+One&family=Caveat:wght@500&family=Croissant+One&family=Shadows+Into+Light&family=Skranji&display=swap');

/* Skranji */
/* Shadows Into Light */
/* Croissant One */
/* Autour One */
/* Caveat */

body {
    background-color: rgb(74, 43, 82);
    font-family: 'Skranji', 'Autour One, Caveat';
    font-size: 22px;
    margin: 0;
    padding: 0;
}

    .mountains {
    padding-top: 100px;
    padding-bottom: 200px;
    }  

    h2 {
        margin: 0;
    }

    .msg h2{
        font-family: 'Shadows Into Light', 'Autour One', 'Skranji';
    }


    .msg p {
        font-size: .8em;
        padding-bottom: 15px;
    }

    .card-img {
        border: 10px solid black;
    }

    #content {
        max-width: 1600px;
    }

    #background {
        height: 725px;
        background-color: burlywood;
        padding: 0;
    }

    header {
        background-color: rgba(213, 219, 45, 0.628);
    }

    #map {
        background-color: rgba(191, 197, 80, 0.628);
    }

    #hero-img {
        width: 100%;
    }

    .home-title {
        font-family: 'Caveat', 'Autour One', 'Croissant One';
        text-align: center;
        color: chartreuse;
        font-size: 2em;
        margin-top: 10px;
    }

    .button-box, .join {
        text-align: center;
        background-color: rgba(17, 67, 85, 0.66);
        width: 200px;
        margin: auto;
    }

    .river-card, .camping-card, .rapids-card {
        text-align: center;
        color: rgb(221, 200, 66);
        margin: 200px 0;
    }

    .logo {
        width: 80px;
    }

    .icon {
        width: 80px;
        padding-top: 10px;
    }

    .mountain {
        width: 50%;
    }

    .msg {
        line-height: 1.5em;
        text-align: center;
        background-color: rgba(0, 143, 185, 0.806);
        color: rgb(58, 19, 75);
        padding: 35px;
    }

    footer {
        background-color: rgba(40, 108, 185, 0.331);
        color: rgb(221, 200, 66);
        padding: 25px 50px;
        margin-top: 200px;
    }

    #map, .nonedec {
        text-decoration: none;
        color: black;
    }

    .join, .book {
        text-decoration: none;
        color: black;
        font-size: 18px;
        padding: 15px 30px;
        margin-top: 50px;
        border-radius: 5px;
    }

    #logo_link {
        padding-top: 5px;
    }

    nav a {
        text-decoration: none;
        text-align: center;
        padding: 35px;
    }

    footer, .social img {
        padding-top: 15px;
    }

    main section img {
        box-sizing: border-box;
    }