@import url('https://fonts.googleapis.com/css2?family=Autour+One&family=Caveat:wght@500&family=Cinzel:wght@500&family=Croissant+One&family=Indie+Flower&family=Monoton&family=Permanent+Marker&family=Shadows+Into+Light&family=Skranji&display=swap');

body {
    background-color: #1be7ff;
    max-width: 800px;
    font-family: 'Autour One', 'Caveat', 'Shadows Into Light', 'Skranji', 'Croissant One';
    margin: 0 auto;
}

    header{
        background-color: rgba(255, 255, 0, 0.494);
    }

    nav {
        display: grid;
        grid-template-columns: 1fr 100px 1fr;
        max-width: 800px;
        justify-items: center;
        
    }

    nav a {
        z-index: 1;
        margin: auto;
        transition: transform .5s;
    }

    #logo {
        width: 100px;
        height: 100px; 
        z-index: 1;  
        }

    #barre, #barre2 {
        width: 250px;
        margin-top: -100px;
    }

    #barre2 {
        grid-column: 4/5;
    }

    #barrer {
        display: grid;
        grid-template-columns: 1fr 100px 1fr;
    }

    div #down img {
        height: 300px;
        width: 800px;
        z-index: -1;
        align-items: center;
        margin-bottom: -70px;
    }

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
    }

    nav a:nth-of-type(1), nav a:nth-of-type(3) {
        color: #1be7ff;
        transition: transform .5s;
        box-shadow: 5px 5px 10px #afeb09;  
        background-color: #F55192;
    }

    footer a {
        background-color: #afeb09;
        box-shadow: 5px 5px 10px #afeb09;
    }

    #top .one {
        margin-top: 10px;
        width: 200px;
        height: 200px;
    }

    #top .two {
        width: 120px;
        height: 120px;
    }

    main #top {
        display: grid;
        grid-template-columns: repeat(16, 50px);
        justify-items: center;
        align-items: center;
    }

    #top img:nth-of-type(1), #top img:nth-of-type(5) {
        grid-column: 1/5;
        grid-row: 1/2;
    }

    #top img:nth-of-type(2), #top img:nth-of-type(6) {
        grid-column: 5/9;
        grid-row: 1/2;
    }

    #top img:nth-of-type(3), #top img:nth-of-type(7) {
        grid-column: 9/13;
        grid-row: 1/2;
    }

    #top img:nth-of-type(4), #top img:nth-of-type(8) {
        grid-column: 13/17;
        grid-row: 1/2;
    }

    main section h1 {
        margin-top: 15px;
        width: 50%;
        height: 280px;
        font-family: 'Shadows Into Light';
        font-size: 0.8em;
        margin: auto;
        text-align: center;
        box-shadow: 5px 5px 10px #FF2525; 
        background-color: #ff252580;
    }

    main section h2 {
        margin: auto;
        width: 600px;
        box-shadow: 5px 5px 10px #FF2525; 
        font-family: 'Croissant One';
        text-align: center;
        color: #F55192;
        margin-top: 30px;
    }

    /* child page  */

    #text h1 {
        width: 200px;
        height: 50px;
        color: rgb(67, 143, 72);
        font-family: 'Caveat';
        font-size: 2em;
        margin: auto;
        margin-top: 50px;
        text-align: center;
        box-shadow: 5px 5px 10px #FF2525;
        background-color: #afeb099c;
    }
        
    #text h2 {
        font-family: 'Caveat';
        width: 400px;
        height: 50px;
        color: rgb(67, 143, 72);
        margin: auto;
        text-align: center;
        box-shadow: 5px 5px 10px #FF2525;
        background-color: #afeb099c;
        font-size: 2.2em;
        }

    .pict {
        width: 200px;
        height: 200px;
        padding: 10px;
        background-color: rgb(18, 219, 237);
        border: 10px solid #ff2525d7;
    }
    .text {
        width: 100%;
        height: 120px;
        padding: 10px;
        border-radius: 25px;
        color: #FF2525;
        font-size: 1.2em;
        background-color: #49f72ea8;
        font-family: 'Autour One';
    }
    .boxes {
        display: grid;
        grid-template-columns: repeat(8, 80px);
        grid-template-rows: repeat(9, 100px);
        justify-content: center;
        margin-top: 50px;
    }
    main #first{
        grid-column: 7/10;
        grid-row: 1/4;
        align-self: center;
        justify-self: center;
    }
    main #second {
        grid-column: 1/4;
        grid-row: 4/7;
        align-self: center;
        justify-self: center;
    }
    main #third {
        grid-column: 7/10;
        grid-row: 7/10;
        align-self: center;
        justify-self: center;
    }
    main #text1 {
        grid-column: 2/8;
        grid-row: 2/3;
        align-self: center;
        font-size: 0.9em;
        font-family: 'Autour One';
        border-radius: 25px;
    }
    main #text2 {
        grid-column: 3/9;
        grid-row: 5/6;
        align-self: center;
        font-size: 0.9em;
        font-family: 'Autour One';
        border-radius: 25px;
    }
    main #text3 {
        grid-column: 2/8;
        grid-row: 8/9;
        align-self: center;
        font-size: 0.9em;
        font-family: 'Autour One';
        border-radius: 25px;
        }