@import url('https://fonts.googleapis.com/css2?family=Autour+One&family=Caveat:wght@500&family=Cinzel:wght@500&family=Croissant+One&family=Indie+Flower&family=Monoton&family=Permanent+Marker&family=Shadows+Into+Light&family=Skranji&display=swap');

body {
    background-color: #1be7ff;
    max-width: 1200px;
}

    header {
        display: grid;
        grid-template-columns: repeat(3, 400px);
    }