body {
    text-align: center;
  }

  .main-para {
    font-size: 1.5em;
    line-height: 1.5em;
  }
  nav {
    background-color: steelblue;
    padding: 10px;
  }

  #active {
    background-color: white;
    color: steelblue;
  } 

  a {
    color: white;
    margin: 40px;
  }

  h1 {
    color: steelblue;
  }

  p {
    width: 80%;
  }

  footer {
    background-color: steelblue;
    color: white;
  }

  img {
    width: 80%;
  }

  a {
    font-size: 1.5em;
  }